<li class="{{#if isStarted}} unlocked {{/if}} {{#if isStarted}} started {{/if}} {{#if isUnlocked}} unlocked {{/if}} {{#if isDone}} done {{/if}} {{#if isCurrent}} is-active {{/if}}" data-thread-id="{{threadId}}" data-first-message-id="{{id}}" data-updates-count="{{updatesCount}}">
  {{{html}}}
  {{!-- {{#if updatesCount}}
  <span class="breakpoints-unreads">
      {{updatesCount}}
  </span>
  {{/if}} --}}
</li>
